body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('screenshots/backdrop1.png'); /* Replace 'path/to/your/image.png' with the actual path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff54;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.445);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.logo {
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #94691f
}

.nav li {
    margin-right: 20px;
}

.nav li:last-child {
    margin-right: 0;
}

.nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #009572;
}

.download-button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #eba50d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.login-button:hover {
    background-color: #0056b3;
}

/* CSS for bottom content */
/* CSS for bottom content */
.bottom-content {
    margin-top: 400px; /* Adjust as needed to create enough space for scrolling */
    padding: 20px;
    background-color: #0c0c0c; /* Darker grey-green color */
    color: #fcfcfc; /* Text color */
    font-size: 1.2em;
    opacity: 0; /* Initially set opacity to 0 for fade-in effect */
    transition: opacity 0.5s ease; /* Add transition for opacity */
    font-family: 'Garamond', sans-serif;
    text-align: center;
}
.big-title {
    font-family: 'Garamond', sans-serif;
    font-size: 80px;
    text-align: center; /* Center the title */
    margin-top: 300px; /* Add some space from the top */
    color: #000000;
    text-shadow: 5px 5px #50435c;
}
.header2 {
    font-family: "Garamond", sans-serif;
    font-style: oblique;
    font-size: 60px;
    text-align: center;
    color: #eba50d;
    text-shadow: 2px 2px #2f2a16;
}
.body2{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.downloadButton {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(45, 92, 92);
    text-align: center;
    margin-left:605px;
}
.downloadButton2 {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(45, 92, 92);
    text-align: center;
    margin-left:600px;
}
.backdrop{
    background-image: url(screenshots/backdrop1.png);
}
.logo img {
    max-height: 80px; /* Adjust the size of the logo */
    border-radius: 30px;
}
.center{
    text-align: center;
}
.leftAlign{
    text-align: center;
    color: #ffea00;
}
